@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

:root {
    --gradient: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.25em;
}

.clearC {
    clear: both;
}


.containerDepart {
    -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    background-color: #222831;
    color: #ffffff;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1400px;
}

.weatherSidePart {
    position: relative;
    height: 90%;
    border-radius: 25px;
    background-image: url("https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
    width: 300px;
    -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    -o-transition: transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    -webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
    transform: translateZ(0) scale(1.02) perspective(1000px);
    float: left;
}

.weatherSidePart:hover {
    -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
    transform: scale(1.1) perspective(1500px) rotateY(10deg);
}

.weatherGradientC {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: var(--gradient);
    border-radius: 25px;
    opacity: 0.8;
}

.dateContainerC {
    position: absolute;
    top: 25px;
    left: 25px;
}

.dateDaynameC {
    margin: 0;
}

.dateDayC {
    display: block;
}

.locationC {
    display: inline-block;
    margin-top: 10px;
}

.locationIconC {
    display: inline-block;
    height: 0.8em;
    width: auto;
    margin-right: 5px;
}

.weatherContainerC {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.weatherIconC2 {
    height: 60px;
    width: auto;
}

.weatherTempC {
    margin: 0;
    font-weight: 700;
    font-size: 4em;
}

.weatherDescC {
    margin: 0;
}

.infoSideC {
    position: relative;
    float: left;
    height: 100%;
    padding-top: 25px;
}

.todayInfoC {
    padding: 15px;
    margin: 0 25px 25px 25px;
    /* 	box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25); */
    border-radius: 10px;
}

.todayInfoC>div:not(:last-child) {
    margin: 0 0 10px 0;
}

.todayInfoC>div .title {
    float: left;
    font-weight: 700;
}

.todayInfoC>div .valueC {
    border-left: 30px;
    float: right;
}

.weekListC {
    list-style-type: none;
    padding: 0;
    margin: 10px 35px;
    -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.weekListC>li {
    float: left;
    padding: 15px;
    cursor: pointer;
    -webkit-transition: 200ms ease;
    -o-transition: 200ms ease;
    transition: 200ms ease;
    border-radius: 10px;
}

.weekListC>li:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background: #fff;
    color: #222831;
    -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2)
}

.weekListC>li.active {
    background: #fff;
    color: #222831;
    border-radius: 10px;
}

.weekListC>li .dayNameC {
    display: block;
    margin: 10px 0 0 0;
    text-align: center;
}

.weekListC>li .dayIconC {
    display: block;
    height: 30px;
    width: auto;
    margin: 0 auto;
}

.weekListC>li .dayTempC {
    display: block;
    text-align: center;
    margin: 10px 0 0 0;
    font-weight: 700;
}
