.MainCss{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.ext
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
