.maindiv{
    display: flex;
    border-radius: 25px;
    background-color: #f0f0f0;
    box-shadow: 11px 5px 5px rgb(104 106 106 / 37%);
    /*width: 900px;*/
    /*margin: auto;*/
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}
.maindiv div{
    padding-right: 20px;
    padding-left: 20px;

}

.maindiv h1{
    color: #005245;
}

.maindiv p{
    color: #005245;
}

.verticalAlign{
    display: flex;
    align-items: center;
}

.imgsize{
    display: content;
    max-width: 30%;
}
