.navBarContainer {
    width: 100%;
    position: fixed;
    display: inline-flex;
    left: 270px;
    max-width: calc(100vw - 270px);
    height: 100vh;
    z-index: 50;
    box-shadow: none;
}

.navBarContent {
    display: flex;
    flex-direction: row;
    max-width: calc(100vw - 200px);
}

.navBarContent Button {
    margin-left: 10px;
}

