.navBarContainer {
    width: -webkit-fill-available;
    /* position: fixed; */
    display: inline-flex;
    margin-left: 270px;
    /* max-width: calc(100vw - 270px); */
    /* height: 100vh; */
    z-index: 50;
    box-shadow: none;
}

.navBarContainer_nav{
    background-color: #1d1d1d;
}


.navBarContent {
    display: flex;
    flex-direction: row;
    max-width: calc(100vw - 200px);
}

.navBarContent Button {
    margin-left: 10px;
}

